<!doctype html>
<html>
	<head>
		<style type='text/css'>
			body {
			}
			td {
				text-align: center;
				padding: 10px 0px;
			}
			th {
				font-weight: bold;
			}
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			.reviewtitle {
				width: 20%;
			}
			.reviewrating {
				width: 70px;
			}
			.reviewdate {
				width: 150px;
			}
			.reviewkeywords {
				width: 30%;
			}
			tr {
				background-color: white;
			}
			input {
				width: 600px;
			}
			.orange {
				border: 10px solid #FF7538;
			}
			.hidden {
				border: 0px;
				padding: 0px;
				display: none;
			}
			#tabtable {
				width: 100%;
			}
		</style>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
	</head>
	<body>
		<input type='text' id='filter'>
		<button type='button' id='filterbutton'>Filter</button>
		<table id='tabtable'>
			<tr class='nohidden'>
				{% for k in tabnames %}
				<td class='tab'>{{ k }}</td>
				{% endfor %}
				<td class='tab-all'>Show All</td>
			</tr>
		</table>
		<table id='contenttable'>
			<tr class='nohidden'>
				<th>review title</th>
				<th>rating</th>
				<th>review text</th>
				<th>review date</th>
				<th>keywords</th>
			</tr>
			{% for k in reviewdata %}
				<tr class='{{ k[6] }}'>
					<td><a href='{{ k[1] }}' target='_BLANK' class='reviewtitle'>{{ k[0] }}</a></td>
					<td class='reviewrating'>{{ k[3] }}</td>
					<td class='reviewtext'>{{ k[2] }}</td>
					<td class='reviewdate'>{{ k[4] }}</td>
					<td class='reviewkeywords'>{{ k[5] }}</td>
				</tr>
			{% endfor %}
		</table>
		<script>
			var currentproduct = '';
			$('.tab').click(function() {
				var pname = $(this).text();
				pname = pname.replace(/ /g, '_');
				currentproduct = pname;
				$('tr').removeClass('hidden');
				$('tr').addClass('hidden');
				$('.nohidden').removeClass('hidden');
				$('.'+pname).removeClass('hidden');
			});
			$('.tab-all').click(function() {
				currentproduct = '';
				$('tr').removeClass('hidden');
			});
			$('#filterbutton').click(function() {
				var text = $('#filter').val();
				var mustmatch = text.split('OR');
				for(var i = 0; i < mustmatch.length; i++) {
					mustmatch[i] = mustmatch[i].trim();
					var words = mustmatch[i].match(/"[^"]*"|[^\s"]+/g);
					for(var j = 0; j < words.length; j++) {
						if(words[j] == 'AND') {
							words.splice(j, 1);
						}
					}
					mustmatch[i] = words;
				}
				$('tr').removeClass('hidden');
				$('tr').addClass('hidden');
				$('.nohidden').removeClass('hidden');
				$('tr').each(function(i, obj) {
					var showobj = false;
					for(var j = 0; j < mustmatch.length; j++) {
						var good = true;
						for(var k = 0; k < mustmatch[j].length; k++) {
							searchtext = mustmatch[j][k];
							if(mustmatch[j][k].startsWith('\"') && mustmatch[j][k].endsWith('\"')) {
								searchtext = mustmatch[j][k].substring(1, mustmatch[j][k].length-1);
							}
							if($(this).children('.reviewtext').text().toLowerCase().indexOf(searchtext.toLowerCase()) == -1) {
								good = false;
								break;
							}
						}
						if(good) {
							showobj = true;
							break;
						}
					}
					if(currentproduct != '' && !$(this).hasClass(currentproduct)) {
						showobj = false;
					}
					if(showobj) {
						$(this).removeClass('hidden');
					}
				});
			});
		</script>
	</body>
</html>

